<h1><%= t ".heading" %></h1>
<p><%= t ".message"%></p>
<%= link_to t(".rs_password"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>
<p><%= t ".timelink"%></p>
<p><%= t ".warning"%></p>
