<li id="micropost-<%= micropost.id %>">
  <span class="user">
    <%= link_to micropost.user.profile.name, micropost.user %>
  </span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    <span class="timeago" title=<%= micropost.created_at %>></span>
    <% if current_user.current_user? micropost.user %>
      <%= link_to t(".delete"), micropost, method: :delete,
        data: {confirm: t(".confirm")} %>
    <% end %>
  </span>
</li>
